@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --paper: whitesmoke;
    --accent: black;
}

* {
    transition: all 0.5s ease-in-out;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--paper);
    font-family: "Open Sans", sans-serif;
}

#phonenumber-validator-form {
    width: 37rem;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--accent);
}

#phonenumber-input::placeholder {
    opacity: 0.85;
}

#checknumber-btn, #clearform-btn {
    width: 8rem;
    text-align: center;
    text-transform: uppercase;
}

#buttons-box {
    margin-left: 0.5rem;
}

@media screen and (orientation: portrait) {
    #navbar-brand, #circleinfo-icon {
        font-size: large !important;
    }

    input[type="text"] {
        width: 100%;
    }

    #checknumber-btn, #clearform-btn {
        width: fit-content;
    }
}